/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  /* CSS Reset above */
  :root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --mainWhite: rgb(232 232 232);
    --primaryColor: rgb(34, 58, 61);
    --bronze: rgb(174 121 0);
    background-color: var(--mainWhite);
  }

  .book  {
    width: 150px;
    height: 74vh;
    margin: 23vh 3vh 3vh 3vh;
    text-align: center;
    padding: 25px;
    background: linear-gradient(to left, #6fa5b6, #a3eaff, #a3eaff, #639cb3);
    color: rgb(82, 46, 10);
    box-shadow: rgba(0, 0, 0, 0.541) 10px 10px;
    border-top-right-radius: 50% 3%;
    border-top-left-radius: 50% 3%;
    border-bottom-right-radius: 2% 2%;
    border-bottom-left-radius: 2% 2%;
    border-bottom: rgba(0, 0, 0, 0.219) groove 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: -1;
  }

  .bookTitle {
    font-weight: bold;
  }

  .bookAuthor {
    font-size: 0.9rem;
    
  }

  .bookPages {
    font-size: 0.75rem;
  }

  .bookRead {
    font-size: 0.9rem;
  }

  .header {
    color: var(--mainWhite);
    position: fixed;
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primaryColor);
    box-shadow: rgba(0, 0, 0, 0.295) 10px 10px 10px;
  }

  .header-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

  }

  button,
  input[type="submit"] {
    color: rgb(0, 0, 0);
    background-color: var(--mainWhite);
    border-color: var(--mainWhite);
    box-shadow: rgba(0, 0, 0, 0.568) 0px 5px;
    border-radius: 20px;
    padding: 5px 10px;
  }

  button:hover,
  input[type="submit"]:hover {
    cursor: pointer;
  }

  input[type="submit"] {
    color: var(--mainWhite);
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
  }

  .library {
    display: flex;
    flex-wrap: wrap;
  }

  input[type="text"],
  input[type="number"] {
    background-color: rgb(192, 230, 255);
    border: none;
    border-radius: 15px;
    width: 100%;
    box-shadow: inset rgba(0, 0, 0, 0.144) 0px 0px 10px;
  }

  form {
    color: black;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 25px 25px;
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 10px;
    position: relative;
  }

  .closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.205);
    border: none;
    box-shadow: none;
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    padding: 0px;
    border-radius: 50%;
}

.removeBtn {
  position: absolute;
  border: none;
  box-shadow: none;
  font-size: 0.9rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  padding: 0px;
  background: #0000005e;
  bottom: 20px;
  color: #000000a6;
}

  .readBtn {
    width: 75px;
    border-radius: 30px;
    font-size: .75rem;
    background: linear-gradient(to left, var(--primaryColor), var(--mainWhite), var(--primaryColor));
    border: rgba(255, 255, 255, 0.29) dotted 3px;
    box-shadow: none;
    color: var(--primaryColor);
  }

  .hasRead {
    background: linear-gradient(to left, var(--bronze), var(--mainWhite), var(--bronze));
    border: var(--mainWhite) dotted 3px;
  }

  #hidden {
    visibility: hidden;
  }

  label {
    width: 100%;
  }
  
  fieldset {
    border: none;
    display: flex;
  }

  fieldset > div  {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  input[type="button"] {
    margin-left: auto;
  }

